@addTagHelper *, Kendo.Mvc
@using Kendo.Mvc.UI
@model UpgradeIndexViewModel
@{
    ViewData["Title"] = "Cosmos Upgrade";
}
<style>
    .btn-circle.btn-sm {
        border-radius: 25px;
        height: 34px;
        padding: 3px 10px;
        text-align: center;
        width: 34px;
    }
</style>
<div class="card bg-secondary">
    <div class="card-header">
        <h4 class="card-title">Upgrade Cosmos Database</h4>
    </div>
    <div class="card-body">
        <p>
            An upgrade to your existing database has been detected, and needs to be installed.
            Doing this on a production system does entail risks.
        </p>
        <p>Here is a list of pending upgrade(s):</p>
        <ul>
            @foreach (var migration in Model.PendingMigrations)
            {
                <li>@migration</li>
            }
        </ul>
        <hr/>
        <div class="row">
            <form id="upgForm" asp-action="index" asp-controller="Upgrade" method="post" kendo-validator="true">
                <div class="col">
                    <h4 class="card-title">Acknowledgments</h4>
                    <p>
                        Please acknowledge the following before proceeding:
                    </p>
                    <div id="validation-summary">
                    </div>
                    <div class="mb-md-4">
                        @Html.ValidationMessageFor(m => m.IsBackedUp)
                        <span class="btn btn-primary btn-circle btn-sm" style="font-size: 14pt">1</span>&nbsp;&nbsp; <span class=" font-weight-bold">Database is backed up</span>.
                        @Html.Kendo().SwitchFor(m => m.IsBackedUp)
                        <br/>
                        <div class="ml-5 font-italic">
                            <ul>
                                <li>It is highly recommended that you have backed up your database just before applying this upgrade.</li>
                                <li>Another recommendation: Perform this upgrade on a <em>copy</em> of your production database. If successful make it the production database.</li>
                            </ul>
                            <br/>

                        </div>
                    </div>

                    <div class="mb-md-4">
                        @Html.ValidationMessageFor(m => m.SoftwareUpgrade)
                        <span class="btn btn-primary btn-circle btn-sm" style="font-size: 14pt">2</span>&nbsp;&nbsp; <span class=" font-weight-bold">Software upgrade pending</span>.
                        @Html.Kendo().SwitchFor(m => m.SoftwareUpgrade)
                        <br/>
                        <div class="ml-5 font-italic">
                            After upgrade is applied, make sure all publishers and other editors are using the latest version.
                        </div>
                    </div>
                    <div class="mb-md-4">
                        @Html.ValidationMessageFor(m => m.Authorized)
                        <span class="btn btn-primary btn-circle btn-sm" style="font-size: 14pt">3</span>&nbsp;&nbsp; <span class="text-white font-weight-bold">Post upgrade steps</span>.
                        @Html.Kendo().SwitchFor(m => m.Authorized)
                        <div class="ml-5 font-italic">
                            After upgrade is applied:
                            <ul>
                                <li>Stop and restart this editor</li>
                                <li>Stop and restart other editors</li>
                                <li>Stop and restart all publishers</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-md-4">
                        <button type="submit" class="btn btn-primary">Run Upgrade</button>
                        @Html.ValidationSummary()
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var validator = $("#upgForm").data("kendoValidator");
        var validationSummary = $("#validation-summary");
    }
</script>