@using Microsoft.AspNetCore.Routing
@using HtmlAgilityPack
@model ArticleViewModel
@{
    var controllerName = (string)Context.GetRouteData().Values["controller"];
    var actionName = (string)Context.GetRouteData().Values["action"];
    var inEditMode = controllerName == "Editor" && actionName == "Edit";
    var htmlHeader = new HtmlDocument();
    var htmlFooter = new HtmlDocument();
    var mdbDark = false;
    var kendoVersion = "2021.3.914";
    if (Model != null)
    {
        mdbDark = Model.HeaderJavaScript != null && Model.HeaderJavaScript.Contains("mdb.dark", StringComparison.CurrentCultureIgnoreCase);

        htmlHeader.LoadHtml($"<body>{Model.Layout.Head}</body>");
        htmlFooter.LoadHtml($"<body>{Model.Layout.PostFooterBlock}</body>");

        var scripts = htmlHeader.DocumentNode.SelectNodes("//script");
        if (scripts != null && scripts.Any())
        {
            var nodes = scripts.Where(n => n.Attributes.Any(a => a.Name == "src"
            && a.Value.Contains("jquery", StringComparison.CurrentCultureIgnoreCase) ||
            a.Value.Contains("fontawesome", StringComparison.CurrentCultureIgnoreCase) ||
            a.Value.Contains("telerik", StringComparison.CurrentCultureIgnoreCase) ||
            a.Value.Contains("mdb.min.js", StringComparison.CurrentCultureIgnoreCase)
            ));
            foreach (var node in nodes)
            {
                node.Remove();
            }
        }
        scripts = htmlFooter.DocumentNode.SelectNodes("//script");
        if (scripts != null && scripts.Any())
        {
            var nodes = scripts.Where(n => n.Attributes.Any(a => a.Name == "src"
            && a.Value.Contains("jquery", StringComparison.CurrentCultureIgnoreCase) ||
            a.Value.Contains("fontawesome", StringComparison.CurrentCultureIgnoreCase) ||
            a.Value.Contains("telerik", StringComparison.CurrentCultureIgnoreCase) ||
            a.Value.Contains("mdb.min.js", StringComparison.CurrentCultureIgnoreCase)
            ));
            foreach (var node in nodes)
            {
                node.Remove();
            }
        }

        var links = htmlHeader.DocumentNode.SelectNodes("//link");
        if (links != null && links.Any())
        {

            var nodes = scripts.Where(n => n.Attributes.Any(a => a.Name == "href"
            && a.Value.Contains("telerik", StringComparison.CurrentCultureIgnoreCase) ||
            a.Value.Contains("mdb.min.css", StringComparison.CurrentCultureIgnoreCase) ||
            a.Value.Contains("mdb.dark.min.css", StringComparison.CurrentCultureIgnoreCase)));
            foreach (var node in nodes)
            {
                node.Remove();
            }
        }
    }
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>@Model.Title</title>

    <link href="https://kendo.cdn.telerik.com/@kendoVersion/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/@kendoVersion/styles/kendo.materialblack.min.css" rel="stylesheet" type="text/css" />
    @if (mdbDark)
    {
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.dark.min.css" rel="stylesheet" integrity="sha512-NxaAbVXIFKVQRbsaSlg55ZKsdja0n2qKUkjMHZp752MLYfCAsJJ9u7krsiAH0M633Sca/Z8avwHZuTDaBBw/Eg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    }
    else
    {
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" integrity="sha512-lB7yIzvz6+ap0+tZODJB6YU4SwZbCOI89a2DAnFiapgqtohkiWBoKOeAZzjSHVhmc8CGz2m3BjlzIRofFx2PHg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    }
    @*<style>
        .k-toolbar.k-toolbar-resizable {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            left: 0px;
            position: fixed;
            right: 0px;
            top: 0px;
            z-index: 2;
        }

        .k-widget.k-window.k-window-titleless.k-editor-widget.k-display-inline-flex {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            left: 0px;
            position: fixed !important;
            right: 0px;
            top: 0px;
            z-index: 2;
        }

        #topNavBar {
            height: 40px;
            width: 100%;
            z-index: 1;
        }

        .fa.k-sprite,
        .fa.k-sprite:before {
            font-size: 16px;
            line-height: 16px;
        }

        /*.k-widget.k-window.k-dialog {
            background-color: #363636 !important;
        }*/

        /*.editorToolbarWindow.k-window-content {
            position: fixed !important;
            top: 1px !important;
            left: 58px;
            right: 0px;
        }*/

        .cosmos-btn-blue {
            background-color: #2e5cb8;
            color: white;
        }

        .cosmos-btn-success {
            background-color: #009933;
            color: white;
        }

        .k-widget.k-window.k-window-titleless.k-editor-widget.k-display-inline-flex {
            position: fixed !important;
            top: 40px !important;
        }

        .k-editor-inline {
            padding: 0;
            margin: 0;
            border-width: 0;
            box-shadow: none;
            background: none;
        }

            .k-editor-inline:hover {
                border-width: 1px;
                border-color: red;
                border-style: dashed;
            }

            .k-editor-inline.k-state-active {
                border-width: 1px;
                border-color: red;
                background: none;
            }

        .k-widget.k-editor.k-editor-inline {
            background: none;
            color: inherit !important;
        }

        .k-editor .k-i-close-editor:before {
            font-family: FontAwesome;
            content: "\f09e";
            font-size: 16px;
        }

        div#k-table-properties.k-content.k-state-active {
            overflow: auto;
        }

        div#k-cell-properties {
            overflow: auto;
        }

        div#k-table-wizard-tabs {
            font-size: 0.78rem;
        }

        .k-toolbar {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
        }

        #ToolBar {
            z-index: 9000000 !important;
        }
    </style>*@

    <script src="https://kendo.cdn.telerik.com/@kendoVersion/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/@kendoVersion/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/@kendoVersion/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/@kendoVersion/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://kit.fontawesome.com/7ba01e580f.js" crossorigin="anonymous"></script>


    @Html.Raw(htmlHeader.DocumentNode.ChildNodes[0].InnerHtml)

    @*
        Application Insights Scripts
    *@
    @if (!inEditMode)
    {
        @Html.Raw(JavaScriptSnippet.FullScript)
    }
</head>
<body>
    <header @Html.Raw(Model.Layout.BodyHeaderHtmlAttributes)>
        <partial name="_EditModeNavBar" model="@Model" />
        @Html.Raw(Model.Layout.HtmlHeader)
    </header>
    @RenderBody()
    <footer @Html.Raw(Model.Layout.FooterHtmlAttributes)>
        @Html.Raw(Model.Layout.FooterHtmlContent)
    </footer>
    @(await RenderSectionAsync("Scripts", false))
    @Html.Raw(Model.Layout.PostFooterBlock)
    <script>
    var ccmsLangDisplayName = "@(Model.LanguageName ?? "US English")";
    </script>

    @Html.Raw(htmlFooter.DocumentNode.ChildNodes[0].InnerHtml)


    @if (Model?.EditModeOn == false)
    {
        <script src="~/ccms/js/GoogleTranslations.js" id="ccms-lang-script" data-lang="@Model.LanguageName"></script>
    }
</body>
</html>