@addTagHelper *, Kendo.Mvc
@using Microsoft.AspNetCore.Routing
@using Kendo.Mvc.UI
@using System.Reflection
@using CDT.Cosmos.Cms.Services
@using Microsoft.Extensions.Options;
@using CDT.Cosmos.Cms.Common.Services.Configurations
@inject IOptions<CosmosConfig> options
@model object
@{
    var assemblyName = Assembly.GetExecutingAssembly().GetName();

    var controllerName = (string)Context.GetRouteData().Values["controller"];
    var actionName = (string)Context.GetRouteData().Values["action"];

    var teamMemberLogic = (TeamIdentityLogic)ViewData["TeamLogic"];
    var teamName = (string)ViewData["TeamName"];

    var isAuthor = false;
    var isEditor = false;
    var isAdministrator = false;
    var isTeamMember = teamMemberLogic != null;

    ArticleViewModel articleViewModel = null;

    var accountBtnTemplate = "<div id='userAcctMenu' style='font-size:0.8em'><span class='fa fa-user'></span> " + User?.Identity.Name + "</div>";

    if (User != null && (User.IsInRole("Authors") || teamMemberLogic?.IsInRole(TeamRoleEnum.Author, teamName) == true))
    {
        isAuthor = true;
    }
    else if (User != null && User.IsInRole("Editors") || teamMemberLogic?.IsInRole(TeamRoleEnum.Editor, teamName) == true)
    {
        isEditor = true;
    }
    else if (User != null && User.IsInRole("Administrators"))
    {
        isAdministrator = true;
    }
}

<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag?.Title</title>
    @if (Model != null && Model.GetType() == typeof(ArticleViewModel))
    {
        articleViewModel = (ArticleViewModel)Model;
        @*
            Layout specific header content
        *@
        @Html.Raw(articleViewModel.Layout.Head)
        @*
            Page specific header content
        *@
        @Html.Raw(articleViewModel.HeaderJavaScript)

    }
    else
    {
        <link rel="stylesheet" href="~/lib/mdb-ui-kit/mdb.dark.min.css" />
        <script src="~/lib/mdb-ui-kit/mdb.min.js"></script>
    }
    <script src="~/js/CosmosTimeZone.js"></script>
    @*
        Telerik/Kendo resources
    *@
    <partial name="_KendoHeadPartial" />
    @*
        Application Insights Scripts
    *@
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav id="k-ccms-ToolBar" style="z-index:20000000; height: 52px; background:inherit !important">
        @(Html.Kendo().ToolBar()
            .Name("toolBar")
            .Items(items =>
            {
            items.Add().Type(CommandType.SplitButton).Text("Menu").Id("menuBtn").ImageUrl("/images/CosmosBearIcon.png").MenuButtons(menuButtons =>
            {
            menuButtons.Add().Text("Home Page");
            menuButtons.Add().Text("Help");
            if (Model != null && controllerName == "Home" && actionName == "Index" && (isAuthor && articleViewModel?.Published == null || isEditor || isAdministrator))
            {
            menuButtons.Add().Text("Edit");
            }
            if (isAdministrator || isEditor || isAuthor || isTeamMember)
            {
            menuButtons.Add().Text("Files");
            menuButtons.Add().Text("Pages");
            }
            if (isAdministrator || isEditor && isTeamMember == false)
            {
            menuButtons.Add().Text("Templates");
            menuButtons.Add().Text("Preload");
            menuButtons.Add().Text("Publish");
            menuButtons.Add().Text("Navigation");
            menuButtons.Add().Text("Layouts");
            menuButtons.Add().Text("Logs");
            menuButtons.Add().Text("Teams");
            }
            if (isAdministrator && isTeamMember == false)
            {
            menuButtons.Add().Text("Users");
            if (options.Value.SiteSettings != null && options.Value.SiteSettings.AllowSetup.HasValue && options.Value.SiteSettings.AllowSetup.Value)
            {
            menuButtons.Add().Text("Setup");
            menuButtons.Add().Text("Diagnostics");
            menuButtons.Add().Text("Configure");
            }
            if (options.Value.SiteSettings.AllowConfigEdit)
            {
            menuButtons.Add().Text("Configure");
            }
            if (options.Value.SiteSettings.AllowReset.HasValue && options.Value.SiteSettings.AllowReset.Value)
            {
            menuButtons.Add().Text("Reset Site");
            }
            }
            if (User.Identity.IsAuthenticated)
            {
            menuButtons.Add().Text("User Account");
            menuButtons.Add().Text("Log Out");
            }
            }).Click("bgCmsClick");
            items.Add().Type(CommandType.Button).Text("Time Zone").Id("timeZone");

            if (User.Identity.IsAuthenticated)
            {
            items.Add().Type(CommandType.SplitButton).Text(accountBtnTemplate).MenuButtons(menuButtons =>
            {
            menuButtons.Add().Text("User Account");
            menuButtons.Add().Text("Log Out");

            }).Click("bgCmsClick");
            }
            items.Add().Template("<div><span id='versInfo' style='margin-right:10px;font-size:0.6em;'>" + @assemblyName.Version + "</span> </div>");
            items.Add().Type(CommandType.Button).Click("hideToolBar").Text("&laquo;");

            })
            .Resizable(true)
            )
    </nav>
    <div id="k-ccms-showBar" style="display:none;position:absolute;top:0px;left:0px;z-index:2000000">
        @(Html.Kendo().Button().Name("btnShowToolBar").Events(eve => eve.Click("showToolBar")).Content("&raquo;"))
    </div>
    <script>
        function hideToolBar(e){
            $("#k-ccms-ToolBar").hide();
            $("#k-ccms-showBar").show();
        }
        function showToolBar(e){
            $("#k-ccms-ToolBar").show();
            $("#k-ccms-showBar").hide();
        }
    </script>
    @RenderBody()
    <script id="verToolTip" type="text/x-kendo-template">
        <h5>C/CMS Version Information</h5>
        <div class='card-body'>
        <p>Assembly: @assemblyName.Name</p>
        <p>Version: @assemblyName.Version</p>
        <p>@Assembly.GetEntryAssembly()</p>
        <p>Cosmos CMS is an open source project on
         <a target="_blank" href="https://github.com/CosmosSoftware/Cosmos.Cms">GitHub</a>.</p>
    </script>
    @(Html.Kendo().Tooltip()
    .For("#versInfo")
    .ContentTemplateId("verToolTip")
    .Position(TooltipPosition.Top)
    .Width(400)
    .Height(320)
    )
    <script>
        var popupNotification;
        $(document).ready(function() {
            var timeZoneElement = $("#timeZone");
            timeZoneElement.html(getLocalTimeZone());

            $(timeZoneElement).kendoTooltip({
                content: "This is the time zone for dates and times shown here."
            });

            $("#userAcctMenu").kendoTooltip({
                content: "You are using this account. Click down arrow for profile or log out."
            });

            $("#menuBtn").kendoTooltip({
                content: "This is the main menu. Click down arrow for options."
            });

            popupNotification = $("#c-n-notifications").kendoNotification({
                autoHideAfter: 1000
            }).data("kendoNotification");

        });

        function toggleToolBar(e) {
            var target = $(e.event.target).closest(".k-button").attr("id");
            var toolBar = $("#ccmsToolBar");
            var btnCcmsShowToolBar = $("#btnCcmsShowToolBar");
            var btnCcmsHideToolBar = $("#btnCcmsHideToolBar");
            if (target === "btnCcmsHideToolBar") {
                toolBar.hide();
                btnCcmsHideToolBar.hide();
                btnCcmsShowToolBar.show();
            } else {
                toolBar.show();
                btnCcmsHideToolBar.show();
                btnCcmsShowToolBar.hide();
            }
        }

        function getLocalTimeZone() {
            var datetime = new Date();
            var dateTimeString = datetime.toString();
            var timezone = dateTimeString.substring(dateTimeString.indexOf("(") - 1);
            return timezone;
        }

        function convertUtcToLocalDateTime(utcDateTime) {

            if (utcDateTime === null || typeof (utcDateTime) === "undefined" || utcDateTime === "") {
                return "";
            }

            // ReSharper disable once QualifiedExpressionMaybeNull
            if (utcDateTime instanceof Date || utcDateTime.endsWith("Z")) {
                var localStateTime = new Date(utcDateTime);
                return localStateTime;
            }

            // This will turn UTC to local time
            // ReSharper disable once UseOfImplicitGlobalInFunctionScope
            var datTimeString = kendo.toString(new Date(utcDateTime), "G");
            var formattedLocalDateTime = datTimeString + " UTC";
            return new Date(formattedLocalDateTime);
        }

        // Handles button bar click - menu button.
        function bgCmsClick(e) {
            var command = e.target.text();
            switch (command) {
            case "Home Page":
                window.location.href = "@Url.Content("~/")";
                break;
            case "Edit":
                window.location.href = "@Url.Action("Versions", "Editor", new { Id = articleViewModel?.ArticleNumber })";
                break;
            case "Files":
                window.location.href = "@Url.Action("Index", "FileManager")";
                break;
            case "Pages":
                window.location.href = "@Url.Action("Index", "Editor")";
                break;
            case "Layouts":
                window.location.href = "@Url.Action("Index", "Layouts")";
                break;
            case "Templates":
                window.location.href = "@Url.Action("Index", "Templates")";
                break;
            case "Navigation":
                window.location.href = "@Url.Action("Index", "Menu")";
                break;
            case "Logs":
                window.location.href = "@Url.Action("Logs", "Editor")";
                break;
            case "Preload":
                window.location.href = "@Url.Action("Preload", "Editor")";
                break;
            case "Publish":
                window.location.href = "@Url.Action("Publish", "Editor")";
                break;
            case "Users":
                window.location.href = "@Url.Action("Index", "Users")";
                break;
            case "Setup":
                window.location.href = "@Url.Action("Index", "Setup")";
                break;
            case "Diagnostics":
                window.location.href = "@Url.Action("Diagnostics", "Setup")";
                break;
            case "Configure":
                window.location.href = "@Url.Action("ConfigWizard", "Setup")";
                break;
            case "Reset Site":
                window.location.href = "@Url.Action("TrainingReset", "Setup")";
                break;
            case "Teams":
                window.location.href = "@Url.Action("Index", "Teams")";
                break;
            case "User Account":
                window.location.href = "@Url.Page("/Account/Manage/Index", new {area = "Identity"})";
                break;
            case "Log Out":
                $("#frmLogout").submit();
                break;
            case "Help":
                    window.open("https://github.com/CosmosSoftware/Cosmos.Cms");
                break;
            }
        }
    </script>
    @*
        Application Insights Scripts
    *@
    @await RenderSectionAsync("Scripts", false)
</body>
</html>