@addTagHelper *, Kendo.Mvc
@using Microsoft.AspNetCore.Routing
@using Kendo.Mvc.UI
@using System.Reflection
@using CDT.Cosmos.Cms.Services
@using Microsoft.Extensions.Options;
@using CDT.Cosmos.Cms.Common.Services.Configurations
@inject IOptions<CosmosConfig> options
@model object
@{
    var assemblyName = Assembly.GetExecutingAssembly().GetName();

    var controllerName = (string)Context.GetRouteData().Values["controller"];
    var actionName = (string)Context.GetRouteData().Values["action"];

    var teamMemberLogic = (TeamIdentityLogic)ViewData["TeamLogic"];
    var teamName = (string)ViewData["TeamName"];

    // Used for ChatBot
    var userName = Context.User.Identity.Name;

    var isAuthor = false;
    var isEditor = false;
    var isAdministrator = false;
    var isTeamMember = teamMemberLogic != null;

    ArticleViewModel articleViewModel = null;

    var accountBtnTemplate = "<div id='userAcctMenu' style='font-size:0.8em'><span class='fa fa-user'></span> Account</div>";

    if (User != null && (User.IsInRole("Authors") || teamMemberLogic?.IsInRole(TeamRoleEnum.Author, teamName) == true))
    {
        isAuthor = true;
    }
    else if (User != null && User.IsInRole("Editors") || teamMemberLogic?.IsInRole(TeamRoleEnum.Editor, teamName) == true)
    {
        isEditor = true;
    }
    else if (User != null && User.IsInRole("Administrators"))
    {
        isAdministrator = true;
    }
}

<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag?.Title</title>
    @if (Model != null && Model.GetType() == typeof(ArticleViewModel))
    {
        articleViewModel = (ArticleViewModel)Model;
        @*
            Layout specific header content
        *@
        @Html.Raw(articleViewModel.Layout.Head)
        @*
            Page specific header content
        *@
        @Html.Raw(articleViewModel.HeaderJavaScript)

    }
    else
    {
        <link rel="stylesheet" href="~/lib/mdb-ui-kit/mdb.dark.min.css" />
        <script src="~/lib/mdb-ui-kit/mdb.min.js"></script>
    }
    @*
        Telerik/Kendo resources
    *@
    <partial name="_KendoHeadPartial" />

    <script src="/lib/signalr/dist/browser/signalr.min.js"></script>
    @*
        Application Insights Scripts
    *@
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @RenderBody()

    <script id="verToolTip" type="text/x-kendo-template">
        <h5>C/CMS Version Information</h5>
        <div class='card-body'>
        <p>Assembly: @assemblyName.Name</p>
        <p>Version: @assemblyName.Version</p>
        <p>@Assembly.GetEntryAssembly()</p>
        <p>Cosmos CMS is an open source project on
         <a target="_blank" href="https://github.com/CosmosSoftware/Cosmos.Cms">GitHub</a>.</p>
    </script>
    @(Html.Kendo().Tooltip()
    .For("#versInfo")
    .ContentTemplateId("verToolTip")
    .Position(TooltipPosition.Top)
    .Width(400)
    .Height(320)
    )
    @*
        Cosmos toolbar is added last to make sure it is overlayed over everything at the top of this page.
    *@
    <nav id="k-ccms-ToolBar" class="navbar navbar-expand-md fixed-top" style="height: 52px; background-color:transparent !important">
        <div class="container-fluid">
            @(Html.Kendo().ToolBar()
            .Name("ccms-kendo-toolBar")
            .Items(items =>
            {
            items.Add().Type(CommandType.SplitButton).Text("Menu").Id("menuBtn").ImageUrl("/images/CosmosBearIcon.png").MenuButtons(menuButtons =>
            {
            menuButtons.Add().Text("Home Page");
            menuButtons.Add().Text("Help");
            if (Model != null && controllerName == "Home" && actionName == "Index" && (isAuthor && articleViewModel?.Published == null || isEditor || isAdministrator))
            {
            menuButtons.Add().Text("Edit");
            }
            if (isAdministrator || isEditor || isAuthor || isTeamMember)
            {
            menuButtons.Add().Text("Files");
            menuButtons.Add().Text("Pages");
            }
            if (isAdministrator || isEditor && isTeamMember == false)
            {
            menuButtons.Add().Text("Templates");
            menuButtons.Add().Text("Preload");
            menuButtons.Add().Text("Publish");
            menuButtons.Add().Text("Navigation");
            menuButtons.Add().Text("Layouts");
            menuButtons.Add().Text("Logs");
            menuButtons.Add().Text("Teams");
            }
            if (isAdministrator && isTeamMember == false)
            {
            menuButtons.Add().Text("Users");
            if (options.Value.SiteSettings != null && options.Value.SiteSettings.AllowSetup.HasValue && options.Value.SiteSettings.AllowSetup.Value)
            {
            menuButtons.Add().Text("Setup");
            menuButtons.Add().Text("Diagnostics");
            menuButtons.Add().Text("Configure");
            }
            if (options.Value.SiteSettings.AllowConfigEdit)
            {
            menuButtons.Add().Text("Configure");
            }
            if (options.Value.SiteSettings.AllowReset.HasValue && options.Value.SiteSettings.AllowReset.Value)
            {
            menuButtons.Add().Text("Reset Site");
            }
            }
            if (User.Identity.IsAuthenticated)
            {
            menuButtons.Add().Text("User Account");
            menuButtons.Add().Text("Log Out");
            }
            }).Click("bgCmsClick");
            items.Add().Type(CommandType.Button).Text("Time Zone").Id("timeZone");

            if (User.Identity.IsAuthenticated)
            {
            items.Add().Type(CommandType.SplitButton).Text(accountBtnTemplate).MenuButtons(menuButtons =>
            {
            menuButtons.Add().Text("User Account");
            menuButtons.Add().Text("Log Out");

            }).Click("bgCmsClick");
            }
            items.Add().Template("<div><span id='versInfo' style='margin-right:10px;font-size:0.6em;'>" + @assemblyName.Version + "</span> </div>");
            items.Add().Type(CommandType.Button).Click("hideToolBar").Text("<span title='Collapse toolbar'>&laquo;</span>");

            })
            )
            <button id="chat-toast-trigger" type="button" class="btn btn-primary">
                Chat
            </button>
        </div>
    </nav>

    <div id="k-ccms-showBar" class="navbar fixed-top" style="display:none;">
        @(Html.Kendo().Button().Name("btnShowToolBar").Events(eve => eve.Click("showToolBar")).Content("<span title='Expand toolbar'>&raquo;</span>"))
    </div>
    <div id="chat-toast" class="toast show bg-dark" style="position: fixed; top:70px;right: 70px;z-index:50000">
        <div class="toast-header">
            <strong class="me-auto">Chat</strong>
            <small>11 mins ago</small>
            <button id="btn-close-chat" type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @(Html.Kendo().Chat()
            .Name("chatBot")
            .User(user => user
            // Each instance of the app will generate a unique username.
            // In this way, the SignalR Hub "knows" who is the user that sends the message
            // and who are the clients that have to receive that message.
            .Name(@userName)
            .IconUrl("https://demos.telerik.com/kendo-ui/content/chat/avatar.png")
            )
            .Events(events => events
            .TypingStart("onCcmsTypingStart")
            .Post("onCcmsChatPost")
            ).HtmlAttributes(new { style = "width:280px;height:460px;"})
            )
        </div>
    </div>
    <style>
        #ccms-kendo-toolBar {
            width: 100%;
        }
    </style>
    <script>
        function hideToolBar(e){
            $("#k-ccms-ToolBar").hide();
            $("#k-ccms-showBar").show();
        }
        function showToolBar(e){
            $("#k-ccms-ToolBar").show();
            $("#k-ccms-showBar").hide();
        }

        var popupNotification;

        function toggleToolBar(e) {
            var target = $(e.event.target).closest(".k-button").attr("id");
            var toolBar = $("#ccmsToolBar");
            var btnCcmsShowToolBar = $("#btnCcmsShowToolBar");
            var btnCcmsHideToolBar = $("#btnCcmsHideToolBar");
            if (target === "btnCcmsHideToolBar") {
                toolBar.hide();
                btnCcmsHideToolBar.hide();
                btnCcmsShowToolBar.show();
            } else {
                toolBar.show();
                btnCcmsHideToolBar.show();
                btnCcmsShowToolBar.hide();
            }
        }

        function getLocalTimeZone() {
            var datetime = new Date();
            var dateTimeString = datetime.toString();
            var timezone = dateTimeString.substring(dateTimeString.indexOf("(") - 1);
            return timezone;
        }

        function convertUtcToLocalDateTime(utcDateTime) {

            if (utcDateTime === null || typeof (utcDateTime) === "undefined" || utcDateTime === "") {
                return "";
            }

            // ReSharper disable once QualifiedExpressionMaybeNull
            if (utcDateTime instanceof Date || utcDateTime.endsWith("Z")) {
                var localStateTime = new Date(utcDateTime);
                return localStateTime;
            }

            // This will turn UTC to local time
            // ReSharper disable once UseOfImplicitGlobalInFunctionScope
            var datTimeString = kendo.toString(new Date(utcDateTime), "G");
            var formattedLocalDateTime = datTimeString + " UTC";
            return new Date(formattedLocalDateTime);
        }

        // Handles button bar click - menu button.
        function bgCmsClick(e) {
            var command = e.target.text();
            switch (command) {
            case "Home Page":
                window.location.href = "@Url.Content("~/")";
                break;
            case "Edit":
                window.location.href = "@Url.Action("Versions", "Editor", new { Id = articleViewModel?.ArticleNumber })";
                break;
            case "Files":
                window.location.href = "@Url.Action("Index", "FileManager")";
                break;
            case "Pages":
                window.location.href = "@Url.Action("Index", "Editor")";
                break;
            case "Layouts":
                window.location.href = "@Url.Action("Index", "Layouts")";
                break;
            case "Templates":
                window.location.href = "@Url.Action("Index", "Templates")";
                break;
            case "Navigation":
                window.location.href = "@Url.Action("Index", "Menu")";
                break;
            case "Logs":
                window.location.href = "@Url.Action("Logs", "Editor")";
                break;
            case "Preload":
                window.location.href = "@Url.Action("Preload", "Editor")";
                break;
            case "Publish":
                window.location.href = "@Url.Action("Publish", "Editor")";
                break;
            case "Users":
                window.location.href = "@Url.Action("Index", "Users")";
                break;
            case "Setup":
                window.location.href = "@Url.Action("Index", "Setup")";
                break;
            case "Diagnostics":
                window.location.href = "@Url.Action("Diagnostics", "Setup")";
                break;
            case "Configure":
                window.location.href = "@Url.Action("ConfigWizard", "Setup")";
                break;
            case "Reset Site":
                window.location.href = "@Url.Action("TrainingReset", "Setup")";
                break;
            case "Teams":
                window.location.href = "@Url.Action("Index", "Teams")";
                break;
            case "User Account":
                window.location.href = "@Url.Page("/Account/Manage/Index", new {area = "Identity"})";
                break;
            case "Log Out":
                $("#frmLogout").submit();
                break;
            case "Help":
                    window.open("https://github.com/CosmosSoftware/Cosmos.Cms");
                break;
            }
        }

        // Point to the Hub remote endpoint.
        window.chatHub = new signalR.HubConnectionBuilder().withUrl('/chat').build();

        chatHub.start().catch(function (e) { });

        // The `typingStart` will notify the SignallR Hub that the current client is typing.
        // The Hub, in turn, will notify all the other clients that the user has started typing.
        function onCcmsTypingStart(e) {
            chatHub.invoke("sendTyping", chat.getUser());
        }

        // The `post` handler will send the user data and the typed text to the SignalR Hub.
        // The Hub will then forward that info to the other clients.
        function onCcmsChatPost(args) {
            chatHub.invoke("send", chat.getUser(), args.text);
        }


        $(document).ready(function() {
            var timeZoneElement = $("#timeZone");
            timeZoneElement.html(getLocalTimeZone());

            $(timeZoneElement).kendoTooltip({
                content: "This is the time zone for dates and times shown here."
            });

            $("#userAcctMenu").kendoTooltip({
                content: "You are using this account. Click down arrow for profile or log out."
            });

            $("#menuBtn").kendoTooltip({
                content: "This is the main menu. Click down arrow for options."
            });

            popupNotification = $("#c-n-notifications").kendoNotification({
                autoHideAfter: 1000
            }).data("kendoNotification");

            chatHub.on('broadcastMessage', function(sender, message) {
                var message = { type: 'text', text: message };

                // Render the received message in the Chat.
                chat.renderMessage(message, sender);
            });

            chatHub.on('typing', function(sender) {
                // Display the typing notification in the Chat.
                chat.renderMessage({ type: 'typing' }, sender);
            });

            window.chat = $("#chatBot").getKendoChat();

            // Chat toast popup
            document.getElementById("chat-toast-trigger").addEventListener('click', () => {
                var el = document.getElementById("chat-toast");
                el.style.display = "block";
            });
            document.getElementById("btn-close-chat").addEventListener('click', () => {
                var el = document.getElementById("chat-toast");
                el.style.display = "none";
            });

        });
    </script>
    <form id="frmLogout" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
    </form>

    @*
        Application Insights Scripts
    *@
    @await RenderSectionAsync("Scripts", false)
</body>
</html>