@model CDT.Cosmos.Cms.Common.Models.ArticleViewModel
<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>

    @Html.Raw(Model.Layout.Head)
    @*
        Page specific header
    *@
    @Html.Raw(Model.HeaderJavaScript)
    @*
        Application Insights Scripts
    *@
    @Html.Raw(JavaScriptSnippet.FullScript)
    <script>
        document.documentElement.setAttribute("lang", "@Model.LanguageCode");
    </script>
</head>
    <body>
        @RenderBody()
        @(await RenderSectionAsync("Scripts", false))
    </body>
</html>
